.btndrop{
  opacity: 0.5;
  background: none !important;
  border: none !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.font{
  font-size: 18px;
}


@media (max-width:500px){
  .btndrop{
    font-size: 15px; 
  }
}
