* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.transportSec{
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 33px;
  padding-top: 120px;
  padding-bottom: 63px;
  width: 100%;
}

.padding-main{
  padding-left: 250px;
  padding-right: 250px;
}
@media (max-width:1200px){
  .transportSec{
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
  }

}
@media (min-width:1920px){
  .bigScreen{
    width: 100% !important;
    max-width: 1920px !important;
    margin: auto !important;
  }

}

@media (max-width:1750px){
  .padding-main{
    padding-left: 50px ;
    padding-right: 50px ;
}
}
@media (max-width:500px){
  .padding-main{
    padding-left: 10px ;
    padding-right: 10px ;
}
}
